<p>
  dashboard works!
</p>
<button mat-raised-button color="primary" routerLink="acc-management">Acc-Manag.</button>
<button mat-raised-button color="primary" routerLink="stock">Inventory</button>
<button mat-raised-button color="primary" routerLink="login">Login</button>
<button mat-raised-button color="warn" routerLink="products">Products</button>
<button mat-raised-button color="primary" routerLink="statistics">Statistics</button>
<button mat-raised-button color="primary" routerLink="settings">Settings</button>
<button mat-raised-button color="primary" routerLink="transactions">Transactions</button>

<router-outlet></router-outlet>
