.full-width-table {
    width: 100%;
  }

  .mat-elevation-z8 {
    box-shadow: none;
  }

  .order {
    padding: 10px;
  }

  .add {
    margin-top: 10px;
    margin-left: 10px;
  }

  // @media (min-width: 800px) {
  //   .table {
  //     max-width: 60%;
  //     float: left;
  //   }
  //   .order {
  //     max-width: 40%;
  //   }
  // }
  