<mat-sidenav-container *ngIf="products" class="order-container">

  <mat-sidenav [(opened)]="sideBarVisible" mode="side" position="end">
    <app-order-form class="order" #order class="order" (closeSidaBar)="closeSideBar($event)"></app-order-form>
  </mat-sidenav>

  <div class="footer">
    <button [ngStyle]="{'right':sideBarVisible === true ? '380px' : '80px'}" mat-fab color="primary" class="stick-right"
      (click)="toggleSideBar()">
      <i class="material-icons md-48">shopping_cart</i>
    </button>
  </div>

  <app-data-table #table class="table" [dataColumns]="columnsToDisplay" [dataSource]="products" [enableAddButton]="true" [enableOrder]="true"
    showImage="true" (edit)="editProduct($event)" (delete)="deleteProduct($event)" (add)="addProduct()"
    (order)="orderProduct($event)"></app-data-table>

</mat-sidenav-container>