.full-width-table {
    width: 100%;
}

.order {
  padding: 10px;
}

.add {
  margin-top: 10px;
  margin-left: 10px;
}

::ng-deep .mat-drawer-container {
  height: 100%;
}

::ng-deep .mat-drawer-content {
  overflow: hidden;
}

::ng-deep .mat-drawer.mat-sidenav.mat-drawer-end {
  width: 300px;
  height: 100%;
}

.bot-toolbar-button{
  z-index: 10;
  margin-right: 20%;
  right: 0px;
  bottom: 8px;
}