/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%; 
  background-color: #fafafa;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif; }


@import '~ngx-toastr/toastr.css';
@import '~material-design-icons/iconfont/material-icons.css';
// @import "@material/fab/mdc-fab";



/*.cdk-global-overlay-wrapper, .cdk-overlay-container {
  z-index: 99999 !important;
}*/