<button mat-fab color="primary" class="add" (click)="createAccount()">
  <i class="material-icons md-48">add</i>
</button>

<div class="mat-elevation-z8 data-table">
  <mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
    <ng-container matColumnDef="userName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let account"> {{account.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="credit">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Credits </mat-header-cell>
      <mat-cell *matCellDef="let account"> {{account.credit}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="creationDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Creation Date </mat-header-cell>
      <mat-cell *matCellDef="let account"> {{account.creationDate}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastActivity">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Last Activity </mat-header-cell>
      <mat-cell *matCellDef="let account"> {{account.lastActivity}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="active">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Active? </mat-header-cell>
      <mat-cell *matCellDef="let account"> {{account.active}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="settings">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let account">
        <button mat-button color="basic" (click)="editAccount(account)">
          <i class="material-icons">edit</i>
        </button>
        <button mat-button color="warn" (click)="deleteAccount(account)">
          <i class="material-icons">delete</i>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
  </mat-table>

  <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>