img {
    max-width: 45px;
    max-height: 45px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.footer {
  position: fixed;
  right: 16px;
  bottom: 16px;
  padding: 8px 0px;
}

