<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- <form [formGroup]="loginForm"> -->
    <form class="loginForm">
      <div>
        <mat-form-field>
          <!-- <input matInput placeholder="Username" formControlName="username" required/> -->
          <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <!-- <input matInput placeholder="Password" formControlName="password" type="password" required/> -->
          <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <div>
    <mat-card-actions>
      <!-- <button mat-raised-button (click)="onSubmit()" class="btn btn-primary">Login</button> -->
      <button mat-raised-button (click)="login()" class="btn btn-primary">Login</button>
    </mat-card-actions>
  </div>
</mat-card>
