<div *ngIf="products.length > 0">
  <h3>Warenkorb</h3>


  <!-- <app-data-table [dataColumns]="" [dataSource]="dataSource" showImage="true"></app-data-table> -->







  <div class="col-md-12">
    <div *ngFor="let product of products">
      <!-- entfernen Button md-2 -->
      <mat-list>
        <mat-list-item> {{product.name}} {{product.costs}} </mat-list-item>
      </mat-list>
      <!-- Produktname md-4 -->
      <!-- <mat-form-field class="col-md-4">
        <input matInput formControlName="name">
      </mat-form-field> -->

      <!-- Anzahl, verstellbar (mind 1) md-3 -->
      <!-- Preis md-3 -->
    </div>
    <!-- Total md-9 -->
    <!-- Gesamtpreis md-3 -->

    <!-- Button bestellen -->
  </div>
</div>