<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="modal-header">
    <h3 class="modal-title">{{header}}</h3>
  </div>

  <div class="modal-body">
    <div formGroupName="product">
      <div class="fields-container">
        <mat-form-field class="col-md-12">
          <input matInput placeholder="Produktname" formControlName="name" [ngModel]="product.name">
        </mat-form-field>

        <mat-form-field class="col-md-12">
          <mat-select placeholder="Kategorie" formControlName="category" [ngModel]="product.category">
            <mat-option *ngFor="let category of categories" [value]="category.value">
              {{category.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col-md-12">
          <input matInput placeholder="Anzahl" formControlName="amount" [ngModel]="product.amount">
        </mat-form-field>
        <mat-form-field class="col-md-12">
          <input matInput placeholder="Beschreibung" formControlName="description" [ngModel]="product.description">
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-default" (click)="onCancel()">cancel</button>
    <button class="btn btn-success" type="submit">save</button>
  </div>
</form>