<mat-card class="register-card">
    <mat-card-header>
        <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <table class="register-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="register-full-width">
                              <input matInput placeholder="First Name" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                                <div *ngIf="submitted && !!f.firstName?.errors" class="invalid-feedback">
                                    <div *ngIf="!!f.firstName?.errors.required">First Name is required</div>
                                </div>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>    
            </div>
            <div class="form-group">
                    <table class="register-full-width" cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field class="register-full-width">
                                    <input matInput placeholder="Last Name" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                                        <div *ngIf="submitted && !!f.lastName?.errors" class="invalid-feedback">
                                            <div *ngIf="!!f.lastName?.errors.required">Last Name is required</div>
                                        </div>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>    
                </div>    
            <div class="form-group">
                <table class="register-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="register-full-width">
                                <input matInput placeholder="Username" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                                <div *ngIf="submitted && !!f.username?.errors" class="invalid-feedback">
                                    <div *ngIf="!!f.username?.errors.required">Username is required</div>
                                </div>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>    
            </div>
            <div class="form-group">
                <table class="register-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="register-full-width">
                                <input matInput placeholder="Password" type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                    <div *ngIf="submitted && !!f.password?.errors" class="invalid-feedback">
                                        <div *ngIf="!!f.password?.errors.required">Password is required</div>
                                        <div *ngIf="!!f.password?.errors.minlength">Password must be at least 6 characters</div>
                                    </div>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>    
            </div>
        </form>
    </mat-card-content>
    <div class="form-group">
            <mat-card-actions>
                <button mat-raised-button [disabled]="loading" class= "btn btn-primary">Register</button>
                <button mat-raised-button><a [routerLink]="['/login']" class="btn btn-link">Cancel</a></button>
            </mat-card-actions>
          </div>  
</mat-card>

