.mat-toolbar{
  padding: 0px 0px 0px 16px;
  height: 48px;
}

.mat-list-base{
  padding: 0px 16px;
}

.toolbar-button{
  height: 48px;
  border-radius: 0;
  font-size: 18px;
  color: #FAFAFA;
}

.highlight{
  border-bottom: 6px solid #FAFAFA;
  background-color: #008678;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.logout{
  width: 48px;
}

.main{
  padding: 16px;
  background-color: #FAFAFA;
}